# Compare results

## Setup

In [7]:
import pandas as pd
import numpy as np
import pickle 
from functools import reduce

RESULTS_FILENAME_LIST = [
    "./results/dtw_results_1658167846_00.pkl",
    "./results/hmm_results_1658167846_00.pkl"
    ]

## Load and merge dataframes with predictions

In [8]:
results_lst = []
for file in RESULTS_FILENAME_LIST:
    with open(file, "rb") as f:
        results_lst.append(pickle.load(f))

results_lst[0].keys()

dict_keys(['data_filename', 'time_index', 'split_id', 'results_df'])

In [9]:
df_lst = [r["results_df"] for r in results_lst]
merged_results_df = reduce(
    lambda df1, df2: pd.merge(
                              df1, df2, 
                              on = ["sample_id", "true_label"], 
                              how = "outer"), 
                    df_lst)

In [11]:
merged_results_df

,true_label,sample_id,predicted_label_1NN,predicted_label_5NN,predicted_label_AIC,predicted_label_BIC
0,0,0,1,1,0,0
1,0,1,0,0,0,0
2,0,2,1,1,0,0
3,0,3,0,0,0,0
4,0,4,1,0,0,0
...,...,...,...,...,...,...
823,8,895,8,8,8,8
824,8,896,8,8,8,8
825,8,897,8,8,8,8
826,8,898,8,8,8,8
827,8,899,8,8,8,8