In [1]:
import numpy as np
import pandas as pd
import os
import functools as ft
import pickle

SUMMARIES_DIR = "summaries/"

In [2]:
summaries_lst = []
filepaths_lst = []
for filename in os.listdir(SUMMARIES_DIR):
    path = f"{SUMMARIES_DIR}/{filename}"
    with open(path, "rb") as f:
        filepaths_lst.append(path)
        print(f"Reading data from {path}")
        summaries_lst.append(pickle.load(f))

Reading data from summaries//summary_1661442143.pkl
Reading data from summaries//summary_1661518617.pkl
Reading data from summaries//summary_1659095107.pkl
Reading data from summaries//summary_1659091737.pkl
Reading data from summaries//summary_1661518745.pkl
Reading data from summaries//summary_1658761740.pkl
Reading data from summaries//summary_1658759032.pkl

In [3]:
acc_dfs = [summary["accuracies_df"] for summary in summaries_lst]
merged_accuracies = pd.concat(acc_dfs, ignore_index=True)
merged_accuracies.tail(3)

,time_id,gen_with,n_train,n_test,min_len,max_len,cls_with,variant,acc
105,1658746186,HMM,5,100,20,50,HMM,BIC,0.942222
106,1658746261,HMM,5,100,50,150,DTW,1NN,0.765556
107,1658746261,HMM,5,100,50,150,DTW,5NN,0.772222

In [4]:
for time_id, df in merged_accuracies.groupby("time_id"):
    print(f"Results of classification of data in file with {time_id = }:")
    display(df.iloc[:,1:].sort_values(by=['acc'], ascending = False))

Results of classification of data in file with time_id = 1658746186:

    gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
80       HMM        5     100       20       50      HMM     AIC  0.942222
81       HMM        5     100       20       50      HMM     BIC  0.942222
104      HMM        5     100       20       50      HMM     AIC  0.942222
105      HMM        5     100       20       50      HMM     BIC  0.942222
61       HMM        5     100       20       50      DTW     5NN  0.790000
89       HMM        5     100       20       50      DTW     5NN  0.790000
60       HMM        5     100       20       50      DTW     1NN  0.760000
88       HMM        5     100       20       50      DTW     1NN  0.760000

Results of classification of data in file with time_id = 1658746205:

    gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
74       HMM       30     100       20       50      HMM     AIC  0.980000
75       HMM       30     100       20       50      HMM     BIC  0.980000
100      HMM       30     100       20       50      HMM     AIC  0.980000
101      HMM       30     100       20       50      HMM     BIC  0.980000
54       HMM       30     100       20       50      DTW     1NN  0.821111
84       HMM       30     100       20       50      DTW     1NN  0.821111
55       HMM       30     100       20       50      DTW     5NN  0.787778
85       HMM       30     100       20       50      DTW     5NN  0.787778

Results of classification of data in file with time_id = 1658746261:

    gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
62       HMM        5     100       50      150      HMM     AIC  0.998889
63       HMM        5     100       50      150      HMM     BIC  0.998889
90       HMM        5     100       50      150      HMM     AIC  0.998889
91       HMM        5     100       50      150      HMM     BIC  0.998889
83       HMM        5     100       50      150      DTW     5NN  0.772222
107      HMM        5     100       50      150      DTW     5NN  0.772222
82       HMM        5     100       50      150      DTW     1NN  0.765556
106      HMM        5     100       50      150      DTW     1NN  0.765556

Results of classification of data in file with time_id = 1658746296:

   gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
68      HMM       30     100       50      150      HMM     AIC  0.994444
69      HMM       30     100       50      150      HMM     BIC  0.994444
96      HMM       30     100       50      150      HMM     AIC  0.994444
97      HMM       30     100       50      150      HMM     BIC  0.994444
64      HMM       30     100       50      150      DTW     1NN  0.823333
92      HMM       30     100       50      150      DTW     1NN  0.823333
65      HMM       30     100       50      150      DTW     5NN  0.815556
93      HMM       30     100       50      150      DTW     5NN  0.815556

Results of classification of data in file with time_id = 1658746351:

   gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
56      HMM        5     100      100     1000      HMM     AIC  1.000000
57      HMM        5     100      100     1000      HMM     BIC  1.000000
86      HMM        5     100      100     1000      HMM     AIC  1.000000
87      HMM        5     100      100     1000      HMM     BIC  1.000000
70      HMM        5     100      100     1000      DTW     1NN  0.773333
98      HMM        5     100      100     1000      DTW     1NN  0.773333
71      HMM        5     100      100     1000      DTW     5NN  0.754444
99      HMM        5     100      100     1000      DTW     5NN  0.754444

Results of classification of data in file with time_id = 1658746464:

    gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
76       HMM       30     100      100     1000      HMM     AIC  1.000000
77       HMM       30     100      100     1000      HMM     BIC  1.000000
102      HMM       30     100      100     1000      HMM     AIC  1.000000
103      HMM       30     100      100     1000      HMM     BIC  1.000000
66       HMM       30     100      100     1000      DTW     1NN  0.814444
94       HMM       30     100      100     1000      DTW     1NN  0.814444
67       HMM       30     100      100     1000      DTW     5NN  0.795556
95       HMM       30     100      100     1000      DTW     5NN  0.795556

Results of classification of data in file with time_id = 1658747687:

        gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
50  ARIMA_statio        5      30       20       50      DTW     1NN  0.551852
51  ARIMA_statio        5      30       20       50      DTW     5NN  0.492593

Results of classification of data in file with time_id = 1658748311:

        gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
79  ARIMA_statio       30      30       20       50      DTW     5NN  0.570370
78  ARIMA_statio       30      30       20       50      DTW     1NN  0.566667

Results of classification of data in file with time_id = 1658748332:

        gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
73  ARIMA_statio        5      30       50      150      DTW     5NN  0.555556
72  ARIMA_statio        5      30       50      150      DTW     1NN  0.514815

Results of classification of data in file with time_id = 1658748399:

        gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
53  ARIMA_statio       30      30       50      150      DTW     5NN  0.551852
52  ARIMA_statio       30      30       50      150      DTW     1NN  0.540741

Results of classification of data in file with time_id = 1658748426:

        gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
59  ARIMA_statio        5      30      100     1000      DTW     5NN  0.481481
58  ARIMA_statio        5      30      100     1000      DTW     1NN  0.455556

Results of classification of data in file with time_id = 1658748438:

        gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
48  ARIMA_statio       30      30      100     1000      DTW     1NN  0.470370
49  ARIMA_statio       30      30      100     1000      DTW     5NN  0.459259

Results of classification of data in file with time_id = 1659090778:

   gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
14  HMM_GMM        5     100       20       50      HMM     AIC  0.880000
15  HMM_GMM        5     100       20       50      HMM     BIC  0.880000
26  HMM_GMM        5     100       20       50      HMM     AIC  0.880000
27  HMM_GMM        5     100       20       50      HMM     BIC  0.880000
38  HMM_GMM        5     100       20       50      HMM     AIC  0.880000
39  HMM_GMM        5     100       20       50      HMM     BIC  0.880000
4   HMM_GMM        5     100       20       50      DTW     1NN  0.828889
16  HMM_GMM        5     100       20       50      DTW     1NN  0.828889
28  HMM_GMM        5     100       20       50      DTW     1NN  0.828889
5   HMM_GMM        5     100       20       50      DTW     5NN  0.794444
17  HMM_GMM        5     100       20       50      DTW     5NN  0.794444
29  HMM_GMM        5     100       20       50      DTW     5NN  0.794444

Results of classification of data in file with time_id = 1659090805:

   gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
8   HMM_GMM       30     100       20       50      HMM     AIC  0.932222
9   HMM_GMM       30     100       20       50      HMM     BIC  0.932222
20  HMM_GMM       30     100       20       50      HMM     AIC  0.932222
21  HMM_GMM       30     100       20       50      HMM     BIC  0.932222
32  HMM_GMM       30     100       20       50      HMM     AIC  0.932222
33  HMM_GMM       30     100       20       50      HMM     BIC  0.932222
13  HMM_GMM       30     100       20       50      DTW     5NN  0.860000
25  HMM_GMM       30     100       20       50      DTW     5NN  0.860000
37  HMM_GMM       30     100       20       50      DTW     5NN  0.860000
12  HMM_GMM       30     100       20       50      DTW     1NN  0.846667
24  HMM_GMM       30     100       20       50      DTW     1NN  0.846667
36  HMM_GMM       30     100       20       50      DTW     1NN  0.846667

Results of classification of data in file with time_id = 1659090833:

   gen_with  n_train  n_test  min_len  max_len cls_with variant       acc
6   HMM_GMM        5     100       50      150      HMM     AIC  0.917778
7   HMM_GMM        5     100       50      150      HMM     BIC  0.917778
18  HMM_GMM        5     100       50      150      HMM     AIC  0.917778
19  HMM_GMM        5     100       50      150      HMM     BIC  0.917778
30  HMM_GMM        5     100       50      150      HMM     AIC  0.917778
31  HMM_GMM        5     100       50      150      HMM     BIC  0.917778
11  HMM_GMM        5     100       50      150      DTW     5NN  0.886667
23  HMM_GMM        5     100       50      150      DTW     5NN  0.886667
35  HMM_GMM        5     100       50      150      DTW     5NN  0.886667
10  HMM_GMM        5     100       50      150      DTW     1NN  0.871111
22  HMM_GMM        5     100       50      150      DTW     1NN  0.871111
34  HMM_GMM        5     100       50      150      DTW     1NN  0.871111

Results of classification of data in file with time_id = 1661435263:

      gen_with  n_train  n_test  min_len  max_len cls_with variant      acc
2   SIM_TwoPat     4000    1000      128      128      DTW     1NN  1.00000
3   SIM_TwoPat     4000    1000      128      128      DTW     5NN  1.00000
46  SIM_TwoPat     4000    1000      128      128      DTW     1NN  1.00000
47  SIM_TwoPat     4000    1000      128      128      DTW     5NN  1.00000
0   SIM_TwoPat     4000    1000      128      128      HMM     AIC  0.37375
1   SIM_TwoPat     4000    1000      128      128      HMM     BIC  0.37375
42  SIM_TwoPat     4000    1000      128      128      HMM     AIC  0.37375
43  SIM_TwoPat     4000    1000      128      128      HMM     BIC  0.37375

Results of classification of data in file with time_id = 1661512203:

      gen_with  n_train  n_test  min_len  max_len cls_with variant      acc
41  SIM_TwoPat     1000    4000       89      127      DTW     5NN  0.92950
40  SIM_TwoPat     1000    4000       89      127      DTW     1NN  0.92400
44  SIM_TwoPat     1000    4000       89      127      HMM     AIC  0.36125
45  SIM_TwoPat     1000    4000       89      127      HMM     BIC  0.36125